/* LABEL */
$j5-label-position: top; // [ top | right | left ]
$j5-label-width: 40%;
$j5-label-top: 10px;
$j5-label-bottom: 5px;
$j5-label-left: 0px;
$j5-label-weight: bold;
$j5-label-padding: $j5-font-size-input $j5-font-size-input $j5-font-size-input 0;


/* DIVIDER */
$j5-divider-margin: 2em 0 2em 0;
