extends layouts/default

block content

  section.form-group
    input(type="text" placeholder="input with placeholder text & no label")
    span.status

  section.form-group
    label(for="") Here's an input with a label & a defaul value
    input(type="text" value="input with default value")
    span.status

  section.form-group
    label(for="") This input has no value or placeholder
    input(type="text")
    span.status


  section.form-group.good
    label(for="") This section has had a ".good" class applied to it.
    input(type="text" value="Woo hoo!")
    span.status


  section.form-group.info
    label(for="")  This section has had a ".info" class applied to it.
    input(type="text" value="Hey you!")
    span.status

  section.form-group.warning
    label(for="")  This section has had a ".warning" class applied to it.
    input(type="text" value="Hmm...")
    span.status


  section.form-group.bad
    label(for="")  This section has had a ".bad" class applied to it.
    input(type="text", value="Oh noes!")
    span.status

  section.form-group.disabled
    label(for="")  This section has had a ".disabled" class applied to it.
    input(type="text" value="Oh noes! This is disabled!", disabled)
    span.status
